// Main brand colors 
  $color-primary: #F1CDB3;
  $color-primary-light: #FDDCC4;

// Text colors
  $color-text-light-xl: #fff;
  $color-text-light-s: #FAFAFA;
  $color-text-dark-s: #CDCDCD;
  $color-text-dark-l: #545454;
  $color-text-dark-xl: #4C4C4C;
  $color-text-dark-m: #B2B2B2;

// Backgrounds colors

  $color-background-light: #fff;
  $color-background-grey: #F6F6F6;

  // Font families 
  $font-serif: 'Georgia';
  $font-sans-serif: 'Arial';

  // Device width (max-width for media-queries)
  $desktop-width: 1279.5px;
  $tablet-width: 767.5px;
  $mobile-big-width: 414px;
  $mobile-small-width: 320px;