@font-face {
	font-family: 'Georgia';
	src: local('Georgia'),
		url('../../assets/fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/ArialMT.ttf');
	src: local('Arial'), local('ArialMT'),
		url('../../assets/fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/ArialItalic.ttf');
	src: local('Arial Narrow Italic'), local('ArialNarrow-Italic'),
		url('../../assets/fonts/ArialItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}