.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__item {
	color: $color-text-dark-s;

		&_active {
			color: $color-text-light-s;
			border-bottom: 3px solid $color-primary;
		}

		&:not(:last-child) {
			margin-right: 35px;
		}
}